//Colors
$main-color: #005570;
$primary-color: #2dafcd;
$back-color: #f3fcff;
$text-color: #99bbc6;
$white-color: #ffffff;
$light-color: #f6f6f6;
$input-font: 'Poppins', sans-serif;
$title-color: #195b84;
$telegram-color: #2dafd7;
$bottom-color: #f4f9ff;
